[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
web3 = {extras = ["tester"], version = "*"}
python-dotenv = "*"
ipython = "*"
flask = "*"
coverage = "*"

[dev-packages]
ipdb = "*"
pytest = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
